.top-nav {
	display: flex;
	position: absolute;
	z-index: 100;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	min-height: 10vh;
	width: 600px;
}
.nav-links {
	width: 300px;
}
.nav-links ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: $White;
	li {
		list-style: none;
	}
}
