.first-half {
	display: flex;
	min-height: 70vh;
}
.left-promo {
	position: relative;
	width: 55vw;
	height: 70vh;
}
.display {
	width: 55vw;
	height: 70vh;
}

.promotion {
	width: 60vw;
}

.promo-text {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: left;
	height: 100%;
	padding: 10rem;
}
.shop-now {
	display: flex;
	color: $Black;
}

// ARROWS: NEXT, PREVIOUS
.arrows {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 0;
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-color: black;
		border: none;
		padding: 2rem 2.3rem;
		&:hover {
			background: $DarkGray;
			transition: 0.5s ease-in;
		}
		img {
			height: 40px;
			width: 30px;
		}
	}
}
